@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

:root {
  --main-font: 'Roboto Mono', monospace;
  --main-letter-spacing: -0.5px;
  --main-font-size: 1.2rem;
  --background: #efefef;
  --text-color: #40332d;
  --text-color-disabled: #999;

  --primary: #333;
  --input-background: #f9f9f9; /* #CECECE */
  --max-width: 1000px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;

  background: var(--background);
  background-image: url("https://cdn.vox-cdn.com/thumbor/9j-s_MPUfWM4bWdZfPqxBxGkvlw=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22312759/rickroll_4k.jpg");
  background-blend-mode: color-burn;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  
  font-family: var(--main-font);
  letter-spacing: var(--main-letter-spacing);
  font-size: var(--main-font-size);
  color: var(--text-color);
  text-align: center;
}

#main {
  margin: auto;
  flex-grow: 1;
  width: 100%;
  max-width: var(--max-width);
  padding: 10px 10px 30px 10px; /* for the footer */
}

a:hover {
  background-color: white;
}

.github {
  padding: 5pt;
  text-align: right;
}
.github a {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

form {
  margin-top: 3em;
}

input[type="url"], input[type="number"] {
  border: none;
  font-family: inherit;
  font-size: 0.9em;
  color: var(--text-color);
  padding: 8px 5px;
  outline: none !important;
}

input[type="number"] {
  background: transparent;
  display: inline-block;
  margin: 3pt;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="url"] {
  background: var(--input-background);
  display: block;
  margin: 10pt auto;
  width: calc(100% - 10pt);
  max-width: var(--max-width);
}

input[type=submit] {
  display: block;
  margin: 1em auto;
  outline: none;
  bottom: 1em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #7f685e;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px 0px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z' style='fill: %23fff'/%3E%3C/svg%3E");
  background-size: contain;
  cursor: pointer;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
}

input[type=submit]:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

input[type=submit]:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: var(--input-background) !important;
  color: var(--text-color) !important;
  -webkit-box-shadow: 0 0 0 1000px var(--input-background) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input:-webkit-autofill::first-line {
  font-family: var(--main-font) !important;
}

input[readonly="readonly"],
input[readonly="readonly"]:-webkit-autofill {
  color: var(--text-color-disabled) !important;
  -webkit-text-fill-color: var(--text-color-disabled) !important;
}

#loading {
  width: 60px;
  margin: 10pt auto 20pt auto;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, var(--text-color) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

details {
  max-width: 1000px;
  margin: auto;
}

details summary { 
  cursor: pointer;
}

details div {
  background: rgba(255, 255, 255, 0.8);
  margin-top: 1em;
  padding: 1em;
  font-size: 90%;
}

footer {
  flex-shrink: 0;
  width: 100%;
  text-align: left;
  padding: 10pt 6pt;
  font-size: 80%;
}

footer span {
  background-color: #ffffff60;
  padding: 2pt 10pt;
  border-radius: 5pt;
}