<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>URL RickRolling</title>
  <meta name="description" content="Transform all links into a rick-roll.">
  <meta name="author" content="derlin">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="github">
    <a href="https://github.com/derlin/rickroller" style="display: inline-block" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 2.651 1.719 4.9 4.104 5.693.3.056.396-.13.396-.289v-1.117c-1.669.363-2.017-.707-2.017-.707-.272-.693-.666-.878-.666-.878-.544-.373.041-.365.041-.365.603.042.92.619.92.619.535.917 1.403.652 1.746.499.054-.388.209-.652.381-.802-1.333-.152-2.733-.667-2.733-2.965 0-.655.234-1.19.618-1.61-.062-.153-.268-.764.058-1.59 0 0 .504-.161 1.65.615.479-.133.992-.199 1.502-.202.51.002 1.023.069 1.503.202 1.146-.776 1.648-.615 1.648-.615.327.826.121 1.437.06 1.588.385.42.617.955.617 1.61 0 2.305-1.404 2.812-2.74 2.96.216.186.412.551.412 1.111v1.646c0 .16.096.347.4.288 2.383-.793 4.1-3.041 4.1-5.691 0-3.314-2.687-6-6-6z"></path></svg>
    </a>
  </div>

  <div id="main">
    <h2>Rick Roll Your Friends</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" onsubmit="loading(true)">
      <input type="url" name="url" id="url"
            placeholder="Enter an URL and hit ⏎"
            pattern="https?://.+\..+"
            {% if url %}value="{{ url }}"{% endif %}
            required>
      {% if scroll_redirects_after > 0 %}
        <input type="checkbox" name="redirect_on_scroll" checked=checked> Redirect after 
        <input name="num_scrolls" type="number" value="{{ scroll_redirects_after }}" min="0" max="99" size="5"> scroll(s).
        <input type="submit" value="" />
      {% endif %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>

    <div id="loading" style="visibility: hidden"></div>

    <details>
      <summary>How does it work ?</summary>
      <div>
        <p>
          Feed me an URL and I will render its content as close as possible to the original,
          but with any click(/scroll) to the page redirecting to the famous video.
          You can then share the link with a friend and wait for the rickroll to happen.
        </p>
        {% if cleanup_enabled %}
        <p>
          <b>IMPORTANT</b> if not visited, the link will expire after {{ retention }}.
        </p>
        {% endif %}
      </div>
    </details>

  </div>

  <footer>
    <span>Made with ❤ by <a href="https://derlin.ch">derlin</a></span>
  </footer>

  <script type="text/javascript">
    function loading(state) {
      var loading = document.getElementById('loading');
      var url = document.getElementById('url');
      if (state) {
        loading.style.visibility = 'visible';
        url.setAttribute('readonly', 'readonly');
      } else {
        loading.style.visibility = 'hidden';
        url.removeAttribute('readonly');
      }
      url.addEventListener('keypress', function(event) {
          if (event.which === 13) {
              document.getElementsByTagName('form')[0].submit();
              return false;
          }
      });
    }
    // reset on back button pressed.
    addEventListener('pageshow', function(){ loading(false); });
  </script>
</body>
</html>