<!doctype HTML>
<html>
<head>
    <meta name="robots" content="noindex, nofollow">
    <title>You Got RickRolled</title>
    <style type="text/css">
    body { text-align: center; background: black; color: white; font-size: 1.5em; }
    h1 { margin-top: 1.5em; font-size: 3em; }
    a { color: white !important; }
    </style>
</head>

<body>
    <h1>YOU GOT RICK ROLLED</h1>
    <p>Curious? <a href="{{ url_for('index') }}">Learn how</a></p>

    <!-- embed code from giphy: https://giphy.com/clips/rick-roll-rolled-rolling-2KZ2v2vifTGTvGg1fu -->
    <div style="width:100%">
        <div style="height:0;padding-bottom:75%;position:relative;width:100%">
            <iframe allowfullscreen="" frameBorder="0" height="100%" src="https://giphy.com/embed/2KZ2v2vifTGTvGg1fu/video" style="left:0;position:absolute;top:0" width="100%"></iframe>
        </div>
    </div>
</body>
</html>

